*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 63.5%;
}
body{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    background-color: slategray;
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid;
    margin: 0 auto;
}
.cabezera{
    background-color: rgb(92, 88, 88);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.8rem;
}
.cabezera picture img{
    width: 5rem;
}
.cabezera .tagline{
    padding: 0 0 0 1rem;
    font-weight: normal;
    font-size: 1.2rem;
}